<style>
  #MainContent {
    width: 1200px;
    padding-left: 200px;
    margin: 0px;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .spacer {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 340px;
    font-size: 19px;
    margin-right:5px;    
  }
  .labeltitle {
    margin-top: 20px;
    font-size: 20px;
  }
  .disabledinput {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 340px;
    font-size: 18px;
    font-weight: 700;
  }
  .datetitle {
    margin-top:10px;
    font-size: 18px;
  }
  .example-spacer {
    padding-left: 300px;
  }

  .mat-raised-button {
    background-color: blue;
    font-style: normal;
    font-size: 12pt;
    font-family: Tahoma;
    color: ivory;
  }
  .mat-button {
    background-color: darkblue;
    font-style: normal;
    font-size: 12pt;
    font-family: Tahoma;
    color: ivory;
  }
    .validation-error {
      width: 100%;
      margin-top: .25rem;
      font-size: 80%;
      color: red;
    }

  .buttonstate {
    align-items:flex-end;
    justify-content:flex-end;
    display:flex;
  }

  .labelweight {
    font-size: 24px;
  }
</style>
<form #form="ngForm" autocomplete="off" class="example-form">
  <div class="center">
    <div id="MainContent">
      <div>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Oda Numarası</mat-label>
            <input class="disabledinput" matInput disabled [(ngModel)]="reservation.Room_No" name="roomno" #roomno />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label class="labeltitle">First Name</mat-label>
            <input class="spacer" matInput [(ngModel)]="reservation.FirstName" name="firstname" #firstname />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label class="labeltitle">Last Name</mat-label>
            <input class="spacer" matInput [(ngModel)]="reservation.LastName" name="lastname" #lastname />
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>From Date</mat-label>
            <input class="spacer" matInput [(ngModel)]="reservation.FromDate" name="FromDate" #FromDate [matDatepicker]="picker" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-label>To Date</mat-label>
            <input class="spacer" matInput [(ngModel)]="reservation.ToDate" name="ToDate" #ToDate [matDatepicker]="picker2" />
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>


        </div>

          <label class="labeltitle">RoomType:</label>
          <input class="spacer" matInput [(ngModel)]="reservation.RoomType" name="RoomType" #RoomType />
          <br />

          <label class="labeltitle">Nation:</label>
          <input class="spacer" matInput [(ngModel)]="reservation.Nation" name="Nation" #Nation />
          <br />

          <label class="labeltitle">VIPStatus:</label>
          <input class="spacer" matInput [(ngModel)]="reservation.VIPStatus" name="VIPStatus" #VIPStatus />
          <br />

          <label class="labeltitle">Phone:</label>
          <input class="spacer" matInput [(ngModel)]="reservation.Phone" name="Phone" #Phone />
          <br />

          <label class="labeltitle">ContractName:</label>
          <input class="spacer" matInput [(ngModel)]="reservation.ContractName" name="ContractName" #ContractName />
          <br />

          <label class="labeltitle">Status:</label>
          <input class="spacer" matInput [(ngModel)]="reservation.Status" name="Status" #Status />
          <br />

          <div>
            <mat-form-field>
              <mat-label class="labeltitle">NumberOfChild</mat-label>
              <input class="spacer" matInput [(ngModel)]="reservation.NumberOfChild" name="NumberOfChild" #NumberOfChild />
            </mat-form-field>
            <mat-form-field *ngIf="reservation.NumberOfChild > 0">
              <mat-label class="labeltitle">ChildAge1</mat-label>
              <input class="spacer" matInput [(ngModel)]="reservation.ChildAge1" name="ChildAge1" #ChildAge1 />
            </mat-form-field>
            <mat-form-field *ngIf="reservation.NumberOfChild > 1">
              <mat-label class="labeltitle">ChildAge2</mat-label>
              <input class="spacer" matInput [(ngModel)]="reservation.ChildAge2" name="ChildAge2" #ChildAge2 />
            </mat-form-field>
            <mat-form-field *ngIf="reservation.NumberOfChild > 2">
              <mat-label class="labeltitle">ChildAge3</mat-label>
              <input class="spacer" matInput [(ngModel)]="reservation.ChildAge3" name="ChildAge3" #ChildAge3 />
            </mat-form-field>
            <mat-form-field *ngIf="reservation.NumberOfChild > 3">
              <mat-label class="labeltitle">ChildAge4</mat-label>
              <input class="spacer" matInput [(ngModel)]="reservation.ChildAge4" name="ChildAge4" #ChildAge4 />
            </mat-form-field>


          </div>

          <label class="labeltitle">NumberOfBaby:</label>
          <input class="spacer" matInput [(ngModel)]="reservation.NumberOfBaby" name="NumberOfBaby" #NumberOfBaby />
          <br />

          <label class="labeltitle">BabyAge1:</label>
          <input class="spacer" matInput [(ngModel)]="reservation.BabyAge1" name="BabyAge1" #BabyAge1 />
          <br />

          <label class="labeltitle">BabyAge2:</label>
          <input class="spacer" matInput [(ngModel)]="reservation.BabyAge2" name="BabyAge2" #BabyAge2 />
          <br />

          <label class="labeltitle">BookDate:</label>
          <input class="spacer" matInput [(ngModel)]="reservation.BookDate" name="BookDate" #BookDate />
          <div class="datetitle">{{reservation.BookDate | date:'dd MMMM yyyy'}}</div>
          <br />

          <button mat-button>
            Kaydı Güncelle

          </button>
          <button mat-button routerLink="/Racks">
            Oda Tablosuna Geri Dön

          </button>
          <br />
      </div>
      

    </div>
  </div>
</form>
