<style>
  #MainContent {
    width: 700px;
    padding-left: 200px;
    margin: 0px;
  }

  .center {
    display: flex;
    justify-content: center;
  }

  .spacer {
    margin-top: 25px;
  }

  .example-spacer {
    padding-left: 500px;
  }

  .mat-raised-button {
    background-color: blue;
    font-style: normal;
    font-size: 12pt;
    font-family: Tahoma;
    color: ivory;
  }

  .validation-error {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: red;
  }

  .buttonstate {
  }

  .labelweight {
    font-size: 24px;
  }
</style>
<form #form="ngForm" autocomplete="off" class="example-form">
  <div class="center">
    <div id="MainContent">
      <div>

        <label>Oda Numarası:</label>
        <input matInput disabled [(ngModel)]="reservation.Room_No" name="roomno" #roomno />


        <br />
        <label>First Name:</label>
        <input matInput [(ngModel)]="reservation.FirstName" name="firstname" #firstname />
        <br />
        <label>Last Name:</label>
        <input matInput [(ngModel)]="reservation.LastName" name="lastname" #lastname />
        <br />
        <label>From Date:</label>
        <input matInput [(ngModel)]="reservation.FromDate" name="FromDate" #FromDate />
        <br />
        <label>To Date:</label>
        <input matInput [(ngModel)]="reservation.ToDate" name="ToDate" #ToDate />
        <br />
        <label>RoomType:</label>
        <input matInput [(ngModel)]="reservation.RoomType" name="RoomType" #RoomType />
        <br />
        <label>Nation:</label>
        <input matInput [(ngModel)]="reservation.Nation" name="Nation" #Nation />
        <br />
        <label>VIPStatus:</label>
        <input matInput [(ngModel)]="reservation.VIPStatus" name="VIPStatus" #VIPStatus />
        <br />
        <label>Phone:</label>
        <input matInput [(ngModel)]="reservation.Phone" name="Phone" #Phone />
        <br />
        <label>ContractName:</label>
        <input matInput [(ngModel)]="reservation.ContractName" name="ContractName" #ContractName />
        <br />
        <label>Status:</label>
        <input matInput [(ngModel)]="reservation.Status" name="Status" #Status />
        <br />
        <label>NumberOfChild:</label>
        <input matInput [(ngModel)]="reservation.NumberOfChild" name="NumberOfChild" #NumberOfChild />
        <br />
        <label>ChildAge1:</label>
        <input matInput [(ngModel)]="reservation.ChildAge1" name="ChildAge1" #ChildAge1 />
        <br />
        <label>ChildAge2:</label>
        <input matInput [(ngModel)]="reservation.ChildAge2" name="ChildAge2" #ChildAge2 />
        <br />
        <label>ChildAge3:</label>
        <input matInput [(ngModel)]="reservation.ChildAge3" name="ChildAge3" #ChildAge3 />
        <br />
        <label>ChildAge4:</label>
        <input matInput [(ngModel)]="reservation.ChildAge4" name="ChildAge4" #ChildAge4 />
        <br />
        <label>NumberOfBaby:</label>
        <input matInput [(ngModel)]="reservation.NumberOfBaby" name="NumberOfBaby" #NumberOfBaby />
        <br />
        <label>BabyAge1:</label>
        <input matInput [(ngModel)]="reservation.BabyAge1" name="BabyAge1" #BabyAge1 />
        <br />
        <label>BabyAge2:</label>
        <input matInput [(ngModel)]="reservation.BabyAge2" name="BabyAge2" #BabyAge2 />
        <br />
        <label>BookDate:</label>
        <input matInput [(ngModel)]="reservation.BookDate" name="BookDate" #BookDate />
        <br />

      </div>
      

    </div>
  </div>
</form>
