<style>
  #MainContent {
    width: 700px;
    padding-left: 200px;
    margin: 0px;
  }

  .center {
    display: flex;
    justify-content: center;
  }

  .spacer {
    margin-top: 25px;
  }

  .example-spacer {
    padding-left: 500px;
  }

  .mat-raised-button {
    background-color: blue;
    font-style: normal;
    font-size: 12pt;
    font-family: Tahoma;
    color: ivory;
  }

  .validation-error {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: red;
  }

  .buttonstate {
  }

  .labelweight {
    font-size: 24px;
  }
</style>
<form #form="ngForm" autocomplete="off" class="example-form">
  <div class="center">
    <div id="MainContent">
      <div>

        <label>Oda Numarası:</label>
        <input *ngIf="Room_Number" matInput disabled />


        <br />
        <label>First Name:</label>
        <input matInput />
        <br />
        <label>Last Name:</label>

        <br />
        <label>From Date:</label>

        <br />
        <label>To Date:</label>

        <br />
      </div>
      

    </div>
  </div>
</form>
